@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@tailwind utilities;
@tailwind components;
@tailwind base;

#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-seleccionado: red;
  --color-seleccionado-hover: lightgray;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.grid-tabla {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Componente Panel_Control
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #4f4f4f;
  text-align: center;
}

h2 {
  color: #4f4f4f;
  text-align: center;
}

h3 {
  color: #4f4f4f;
}
p {
  color: black;
}*/

.h3-panel {
  text-align: left;
}

.h1-panel {
  text-align: center;
  margin-top: 3% !important;
}

.h2-panel {
  text-align: center;
  margin-top: 1% !important;
  margin-bottom: 2% !important;
}

.class_id {
  text-align: center;
  font-weight: 500;
}

.class_nombres {
  font-weight: bold !important;
  text-align: center;
  margin-bottom: 0px;
}

.class_titulo {
  margin-top: 0px;
  color: #a7a7a7;
  text-align: center;
}

.class_sobremi {
  font-weight: bold !important;
  margin-bottom: 0px;
  font-weight: 600;
}

.class_descripcion {
  color: #a7a7a7;
  margin-top: 0px;
}

.class_genero {
  text-align: right;
  margin-top: 0px;
}
.class_edad {
  text-align: left;
  margin-top: 0px;
}

.class_edad_titulo {
  font-weight: bold !important;
  font-weight: 600;
  margin-bottom: 0px;
}

.contenedor-principal {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  flex-direction: column; /* Opcional: para apilar los hijos verticalmente */
}

.class_genero_titulo {
  font-weight: bold !important;
  text-align: right;
  font-weight: 600;
  margin-bottom: 0px;
}

/* Panel de Control */
.gird-botones-citas {
  width: 25% !important;
}

.box-panel-control {
  padding: 2%;
}

.light-theme .boton-panelcontrol {
  color: #13296a !important;
}
.dark-theme .boton-panelcontrol {
  color: white !important;
}

.card-citas {
  margin-bottom: 2%;
}

/*
.card-action-citas[data-active] {
  background-color: var(--color-seleccionado-hover);
}*/

.light-theme .card-citas:hover {
  background-color: lightgray;
}

.dark-theme .card-citas:hover {
  background-color: #2c2b2b;
}

.typography-citas {
  text-align: left;
  font-weight: bold !important;
  margin-bottom: 2% !important;
  margin-left: 2% !important;
}

.card-content-citas {
  height: 100%;
}

.divider-citas,
.divider-pacientes {
  border: 1px solid !important;
  margin-bottom: 2% !important;
}

.grid-citas-fecha {
  margin-left: 3%;
  margin-top: 2%;
}

.p-citas {
  margin: 0px;
  text-align: left;
}

.grid-botones-citas {
  width: 15%;
}

.li-botones-citas {
  margin-left: 5%;
  margin-bottom: 7%;
  width: auto !important;
}

.ul-botones-citas:hover {
  background-color: #eff3fa !important;
}
.dark-theme .ul-botones-citas:hover {
  background-color: rgb(42, 42, 43) !important;
}
.li-icono-citas {
  /*background-color: red;*/
  border-radius: 10%;
  padding: 2%;
  min-width: 5% !important;
  margin-right: 3%;
}
/* Estilos para el modo claro */
.light-theme .li-icono-citas {
  background-color: #eff3fa;
}

/* Estilos para el modo oscuro */
.dark-theme .li-icono-citas {
  background-color: rgb(42, 42, 43);
}

.dark-theme .li-item-texto {
  color: rgb(255, 255, 255);
}

.light-theme .li-item-texto {
  color: rgb(0, 0, 0);
}

/*Profesional*/
.h3-patients {
  text-align: center;
  margin-top: 1% !important;
  margin-bottom: 2% !important;
}

.box-p-patients {
  width: 100%;
  height: 100%;
}

.box-p-citas {
  width: 100%;
}

/* Estilos personalizados para el DataGrid */
.data-grid-custom {
  border: 1px solid;
}

.light-theme .data-grid-custom .MuiDataGrid-row:nth-of-type(odd) {
  background-color: #e3f2fd;
}

.light-theme .data-grid-custom .MuiDataGrid-row:nth-of-type(even) {
  background-color: #ffffff;
}

.light-theme .data-grid-custom .Mui-selected {
  background-color: #509cdb !important;
  color: white !important;
}

.dark-theme .data-grid-custom .MuiDataGrid-row:nth-of-type(odd) {
  background-color: #313131;
}

.dark-theme.data-grid-custom .MuiDataGrid-row:nth-of-type(even) {
  background-color: #ffffff;
}

.dark-theme .data-grid-custom .Mui-selected {
  background-color: #b2c7d7 !important;
  color: rgb(0, 0, 0) !important;
}

.light-theme .button-info {
  border: 0px !important;
  background-color: #dee7f7 !important;
  width: 80%;
  outline: none !important;
}

.light-theme .button-info:hover {
  background-color: #8796ae !important;
}

.light-theme .icon-info {
  color: #1c3b96;
}

.dark-theme .button-info {
  border: 0px !important;
  background-color: #1c3b96 !important;
  width: 80%;
  outline: none !important;
}

.dark-theme .button-info:hover {
  background-color: #324a71 !important;
}

.dark-theme .icon-info {
  color: #dee7f7;
}

.divider-paciente-historial {
  border: 1px solid !important;
  margin-bottom: 2% !important;
  margin-top: 1% !important;
}

.contenedor {
  display: grid;
  align-items: end;
  border: 1px solid #ccc;
}

.contenedor-overview {
  width: 100%;
  margin-left: 0%;
}

.divider-overview-paciente {
  width: 100%;
  border: 1px solid !important;
}

.grid-button-overview {
  text-align: center;
}

.light-theme .button-new-report {
  background-color: #152259 !important;
  color: white !important;
  width: 70%;
  outline: none !important;
}

.dark-theme .button-new-report {
  background-color: #c6c9d7 !important;
  color: black !important;
  width: 70%;
  outline: none !important;
}

.light-theme .button-ver-detalles {
  color: #509cdb !important;
  border-color: #509cdb !important;
  outline: none !important;
}

.dark-theme .button-ver-detalles {
  color: white !important;
  border-color: white !important;
  outline: none !important;
}

.dark-theme .button-ver-detalles:hover {
  background-color: #343436 !important;
}

.MuiTimelineDot-root {
  background-color: #509cdb !important;
}

.MuiTimelineConnector-root {
  background-color: black !important;
}

.dark-theme .MuiTimelineConnector-root {
  background-color: white !important;
}

.cerrar {
  width: 60% !important;
  background-color: white !important;
  color: #2d88d4 !important;
  border-color: #2d88d4 !important;
  outline: none !important;
}

.guardar {
  width: auto !important;
  background-color: #2d88d4 !important;
  color: white !important;
  outline: none !important;
}

.grid-botones-anadir {
  margin-top: 3%;
}

.grid-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.grid-empresa {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.negrita {
  font-weight: bold !important;
}

.divider-report {
  margin-top: 2% !important;
  margin-bottom: 2% !important;
  border: 1px solid !important;
}

.typo-report {
  font-weight: bold !important;
  margin-bottom: 5% !important;
}

.grid-detalles {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Calendario*/
/* Claro */
.light-theme .css-onh7xc-MuiPaper-root {
  background-color: #f1f1f1 !important;
}
/* Semana */
.css-10vrmbu {
  margin-top: 5px;
  border-radius: 8px;
  text-align: center;
}

.css-10vrmbu .rs__cell {
  color: white;
  background-color: #152259 !important;
  border: none !important;
}

.css-13jcbao {
  margin-top: 5px;
  border: 0px solid black !important;
  border-radius: 10px;
}

.css-13jcbao .rs__cell {
  border: 0px solid black !important;
}

/*Mes*/
.css-bkcy1h {
  border-radius: 8px;
  margin-top: 5px;
}

.MuiTypography-root.MuiTypography-body2.MuiTypography-alignCenter.rs__cell.rs__header.rs__header__center.css-1bvhhcn-MuiTypography-root {
  background-color: #152259 !important;
  border: none;
  color: white;
}

.css-152flay {
  margin-top: 5px;
  border: 1px solid hsl(220, 20%, 80%) !important;
  border-radius: 8px;
}

/*Dia*/
.css-12aktbw {
  margin-top: 5px;
}

.css-1xs1f4s {
  border-radius: 8px;
}

.css-1xs1f4s .rs__cell {
  background-color: #152259 !important;
  border: none !important;
  text-align: center;
}

.css-1czauyl {
  margin-top: 5px;
  border: 1px solid hsl(220, 20%, 80%) !important;
  border-radius: 8px;
}

/*Oscuro*/
.css-onh7xc-MuiPaper-root {
  background-color: #181919 !important;
}
/*Semana*/
.css-qeli4d {
  margin-top: 5px;
  border-radius: 8px;
  text-align: center;
  border-color: black !important;
}

.css-qeli4d .rs__cell {
  color: white;
  background-color: #10172a !important;
  border: none !important;
}

.css-47nvf8 {
  margin-top: 5px;
  border: 0px solid black !important;
  border-radius: 10px;
}

.css-47nvf8 .rs__cell {
  border: 0px solid black !important;
}

/*Mes*/
.css-1gwdr4p {
  border-radius: 8px !important;
  margin-top: 5px !important;
  border-color: black !important;
}

.dark-theme
  .MuiTypography-root.MuiTypography-body2.MuiTypography-alignCenter.rs__cell.rs__header.rs__header__center.css-1bvhhcn-MuiTypography-root {
  background-color: #10172a !important;
  border: none !important;
  color: white !important;
}

.css-15o5vin {
  margin-top: 5px !important;
  border: 1px solid hsl(0, 0%, 100%) !important;
  border-radius: 8px !important;
}

/*Dia*/
.css-12aktbw {
  margin-top: 5px;
}

.css-hr6g5a {
  border-radius: 8px;
  border-color: black !important;
}

.css-hr6g5a .rs__cell {
  background-color: #10172a !important;
  border: none !important;
  text-align: center;
}

.css-15beo7e {
  margin-top: 5px;
  border: 1px solid white !important;
  border-radius: 8px;
}

/*Administrador*/
.grid-overview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones-admin {
  width: 20%;
  padding: 5px !important;
}

.botones-admin:hover {
  background-color: transparent !important;
  border-color: inherit !important;
  box-shadow: none !important;
}

.boton-agregar {
  outline: none !important;
}

.botones-admin:focus {
  outline: none !important;
  box-shadow: none !important;
}

.typo-tittle-boton {
  font-size: large !important;
  color: #919191;
}

.typo-number-boton {
  font-weight: bold !important;
}

.icon-boton {
  font-size: 35px !important;
}

.boton-editar {
  background-color: transparent !important;
  border-color: inherit !important;
  box-shadow: none !important;
}

.boton-editar:focus {
  outline: none !important;
  box-shadow: none !important;
}

.data-grid-custom .MuiDataGrid-cell {
  white-space: normal !important; /* Permite salto de línea */
  line-height: 1 !important; /* Espaciado adecuado */
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  align-items: center; /* Alineación superior */
  overflow-wrap: break-word;
  word-break: break-word;
}

.MuiDataGrid-columnHeaderTitleContainer {
  white-space: normal !important; /* Permite salto de línea */
  line-height: 1 !important; /* Espaciado adecuado */
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  align-items: center; /* Alineación superior */
  overflow-wrap: break-word;
  word-break: break-word;
}

.data-grid-custom .MuiDataGrid-row {
  max-height: none !important; /* Permite alto dinámico */
  height: auto !important;
}

.icono {
  color: black;
}

.boton-change:focus,
.boton-change:active {
  outline: none;
  box-shadow: none;
}
