@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@tailwind utilities;
@tailwind components;
@tailwind base;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-seleccionado: red;
  --color-seleccionado-hover: lightgray;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Componente Panel_Control
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #4f4f4f;
  text-align: center;
}

h2 {
  color: #4f4f4f;
  text-align: center;
}

h3 {
  color: #4f4f4f;
}
p {
  color: black;
}*/

.h1-panel {
  text-align: center;
}
.h2-panel {
  text-align: center;
}
.class_id {
  color: #424242;
  text-align: center;
  font-weight: 500;
}

.class_nombres {
  color: #1a1a1a;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}

.class_titulo {
  margin-top: 0px;
  color: #a7a7a7;
  text-align: center;
}

.class_sobremi {
  margin-bottom: 0px;
  font-weight: 600;
}

.class_descripcion {
  color: #a7a7a7;
  margin-top: 0px;
}

.class_genero {
  text-align: right;
  margin-top: 0px;
}
.class_edad {
  text-align: left;
  margin-top: 0px;
}

.class_edad_titulo {
  font-weight: 600;
  margin-bottom: 0px;
}

.class_genero_titulo {
  text-align: right;
  font-weight: 600;
  margin-bottom: 0px;
}

.box-panel-control {
  width: 100%;
}

.boton-panelcontrol {
  color: #13296a;
}

.light-theme .boton-panelcontrol {
  color: #13296a !important;
}
.dark-theme .boton-panelcontrol {
  color: white !important;
}

.card-citas {
  margin-bottom: 2%;
}

/*
.card-action-citas[data-active] {
  background-color: var(--color-seleccionado-hover);
}*/

.light-theme .card-citas:hover {
  background-color: lightgray;
}

.dark-theme .card-citas:hover {
  background-color: #2c2b2b;
}

.typography-citas {
  font-weight: bold !important;
  margin-bottom: 2% !important;
  margin-left: 2% !important;
}

.card-content-citas {
  height: 100%;
}

.divider-citas {
  border: 1px solid !important;
}

.grid-citas-fecha {
  margin-left: 3%;
  margin-top: 2%;
}

.p-citas {
  margin: 0px;
}

.grid-botones-citas {
  width: 15%;
}

.li-botones-citas {
  padding: 10px;
  width: 80% !important;
}

.ul-botones-citas:hover {
  background-color: #eff3fa !important;
}
.dark-theme .ul-botones-citas:hover {
  background-color: rgb(42, 42, 43) !important;
}
.li-icono-citas {
  /*background-color: red;*/
  border-radius: 10%;
  padding: 5px;
  min-width: 5% !important;
  margin-right: 10%;
}
/* Estilos para el modo claro */
.light-theme .li-icono-citas {
  background-color: #eff3fa;
}

/* Estilos para el modo oscuro */
.dark-theme .li-icono-citas {
  background-color: rgb(42, 42, 43);
}

.dark-theme .li-item-texto {
  color: rgb(255, 255, 255);
}

.light-theme .li-item-texto {
  color: rgb(0, 0, 0);
}
